# Project: La Liga

### Dear Participant,

Please find below the Project for this course. This is an individual assignment. 

#### Laliga.csv

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

 

You are required to do the following:

1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)
2. Print all the teams which have started playing between 1930-1980. (5 points)
3. Print the list of teams which came Top 5 in terms of points (2.5 points)
4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
Goal_diff_count = GoalsFor - GoalsAgainst
5. Create a new column with name “Winning Percent” and append it to the data set (5 points)

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

 6. Group teams based on their “Best position” and print the sum of their points for all positions (10 points)

Eg: Best Position     Points

         1                   25000

         2                    7000

Please Note:

- Mention the steps in a new Python notebook and answer with the codes.
- The points for each question is mentioned above.
- Total marks allotted for this assignment is 30.
 

#### Regards
#### Program Office

In [114]:
import numpy as np
import pandas as pd

In [115]:
url = 'https://raw.githubusercontent.com/RickFelder/Statistics/main/Laliga.csv'
laliga = pd.read_csv(url)

In [116]:
laliga.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

## 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

In [117]:
laliga.replace('-',0,inplace=True)

## 2. Print all the teams which have started playing between 1930-1980. (5 points)

In [118]:
laliga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pos            61 non-null     int64
 1   Team           61 non-null     object
 2   Seasons        61 non-null     int64
 3   Points         61 non-null     object
 4   GamesPlayed    61 non-null     object
 5   GamesWon       61 non-null     object
 6   GamesDrawn     61 non-null     object
 7   GamesLost      61 non-null     object
 8   GoalsFor       61 non-null     object
 9   GoalsAgainst   61 non-null     object
 10  Champion       61 non-null     object
 11  Runner-up      61 non-null     object
 12  Third          61 non-null     object
 13  Fourth         61 non-null     object
 14  Fifth          61 non-null     object
 15  Sixth          61 non-null     object
 16  T              61 non-null     object
 17  Debut          61 non-null     object
 18  Since/LastApp  61 non-null     object
 19  BestPosition   61 non-null     int64
dtypes: int64(3), object(17)
memory usage: 9.7+ KB

In [119]:
laliga['Debut']=laliga['Debut'].astype(str)
Debut_30_80 = laliga[laliga['Debut'].str[:4].between('1930','1980')]
print("Teams That Started Playing between 1930-1980 :\n", Debut_30_80)

Teams That Started Playing between 1930-1980 :
     Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
3     4             Valencia       82   3386        2664     1187        616
5     6              Sevilla       73   2819        2408      990        531
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
30   31            Salamanca       12    375         423      123        102
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
34   35            Castellon       11    285         334      103         79
37   38              Cordoba        9    230         282       82         63
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
46   47            Gimnastic        4     91         116       34         16
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
52   53           AD Almeria        2     52          68       17         18
54   55               Lleida        2     40          68       13         14
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
3        861     4398         3469        6         6    10     11    10
5        887     3680         3373        1         4     4      5    12
8        766     2683         2847        0         1     4      5     4
9        682     2159         2492        1         0     2      3     4
10       575     2052         2188        1         5     4      1     0
11       723     2278         2624        0         0     0      2     4
12       619     1767         2180        0         0     0      1     1
14       629     1753         2152        0         1     1      2     2
15       565     1500         1834        0         0     0      2     2
16       535     1421         1763        0         0     0      1     0
17       492     1642         1951        0         0     3      2     2
18       399     1182         1371        0         0     2      0     2
19       487     1347         1746        0         1     1      1     1
21       349      819         1157        0         0     0      0     0
22       305      760         1088        0         0     0      0     0
23       295      750         1022        0         0     0      0     1
25       295      716         1050        0         0     0      0     1
26       211      619          744        0         0     0      0     2
27       298      607          992        0         0     0      0     0
28       174      458          623        0         0     0      0     0
29       194      430          632        0         0     0      0     0
30       198      422          581        0         0     0      0     0
31       202      492          720        0         0     0      1     1
32       217      393          662        0         0     0      0     0
34       152      419          588        0         0     0      1     2
37       137      285          430        0         0     0      0     1
39        90      202          296        0         0     0      0     0
40        95      216          310        0         0     0      0     0
41        83      165          221        0         0     0      0     0
46        66      181          295        0         0     0      0     0
49        62      145          252        0         0     0      0     0
50        48      121          183        0         0     0      0     0
52        33       71          116        0         0     0      0     0
54        41       70          182        0         0     0      0     0
57        15       37           57        0         0     0      0     0
58        18       51           85        0         0     0      0     0
59        21       34           65        0         0     0      0     0

   Sixth   T    Debut Since/LastApp  BestPosition
3      7  50  1931-32       1987-88             1
5      6  32  1934-35       2001-02             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
21     2   2  1941-42       2016-17             6
22     0   0  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
25     4   5  1935-36       2010-11             5
26     0   2  1961-62       2009-10             5
27     0   0  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
30     0   0  1974-75       1998-99             7
31     0   2  1943-44       1987-88             4
32     0   0  1977-78       2005-06            12
34     0   3  1941-42       1990-91             4
37     0   1  1962-63       2014-15             5
39     0   0  1978-79       2008-09             8
40     0   0  1971-72       1979-80            12
41     0   0  1963-64       1969-70             7
46     0   0  1947-48       2006-07             7
49     0   0  1945-46       1950-51            10
50     0   0  1953-54       1957-58            14
52     0   0  1979-80       1980-81            10
54     0   0  1950-51       1993-94            16
57     0   0  1956-57       1956-57            16
58     0   0  1951-52       1951-52            16
59     0   0  1955-56       1955-56            15

## 3. Print the list of teams which came Top 5 in terms of points (2.5 points)

In [120]:
laliga["Points"] = laliga["Points"].astype(int)
laliga_sorted = laliga[['Team','Points']].sort_values('Points',ascending = False)
print("Teams that came Top 5 in terms of Points:\n", laliga_sorted.head())

Teams that came Top 5 in terms of Points:
               Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

## 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [144]:
laliga['GoalsFor'] = laliga['GoalsFor'].astype(int)
laliga['GoalsAgainst'] = laliga['GoalsAgainst'].astype(int)
def Goal_diff_count():   
     laliga['Goal_diff_count'] = laliga['GoalsFor']-laliga['GoalsAgainst']
     return laliga[['Team','Goal_diff_count']]
print("Top 5 Teams with maximum goal difference: \n" , Goal_diff_count().sort_values(by = 'Goal_diff_count',ascending=False).head())
print("Top 5 Teams with minimum goal difference: \n" , Goal_diff_count().sort_values(by = 'Goal_diff_count',ascending=False).tail())

Top 5 Teams with maximum goal difference:
               Team  Goal_diff_count
0      Real Madrid             2807
1        Barcelona             2786
2  Atletico Madrid             1225
4  Athletic Bilbao              931
3         Valencia              929
Top 5 Teams with minimum goal difference:
                 Team  Goal_diff_count
27            Murcia             -385
19        Las Palmas             -399
14    Sporting Gijon             -399
12        Valladolid             -413
13  Racing Santander             -525

## 5. Create a new column with name “Winning Percent” and append it to the data set (5 points)

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

In [145]:
laliga['GamesWon'] = laliga['GamesWon'].astype(int)
laliga['GamesPlayed'] = laliga['GamesPlayed'].astype(int)
laliga['Winning Percent'] = ((laliga['GamesWon']/laliga['GamesPlayed'])*100)
print("Top 5 Teams with the highest Winning Percentage: \n", laliga[['Team','Winning Percent']].head(5))

Top 5 Teams with the highest Winning Percentage:
               Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

## 6. Group teams based on their “Best position” and print the sum of their points for all positions (10 points)

Eg: Best Position     Points

         1                   25000

         2                    7000

In [156]:
laliga['Points'] = laliga['Points'].astype(int)
laliga['BestPosition'] = laliga['BestPosition'].astype(int)
group = laliga[['Team','Points','BestPosition']].groupby('BestPosition')
group['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64

RICARDO MARTíNEZ CAMPOS